{% extends 'base.html' %}

{% block title %}Edit Booking - Community Booker{% endblock %}

{% block content %}
  <h1>Edit Booking</h1>
  <p>Time Slot: {{ booking.time_slot.date }} from {{ booking.time_slot.start_time }} to {{ booking.time_slot.end_time }}</p>
  <p>
    <a href="{% url 'change-time-slot' booking.slug %}">Change Time Slot</a>
  </p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Edit</button>
</form>

  <p><a href="{% url 'my-bookings' %}">Back to My Bookings</a></p>
{% endblock %}
