{% extends "base.html" %}

{% block title %}Available Time Slots{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h3>Available Time Slots from {{ week_start|date:"F d, Y" }} to {{ week_end|date:"F d, Y" }}</h3>
    <p>Choose an availbable Time Slot and click Book Now to make your booking</p>

    <!-- Select Slot Form -->
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {% for day, slots in slots_by_day.items %}
            <div class="day-section {% if day <= today %}text-muted{% endif %}">
                <h4>
                    {{ day|date:"l, F d, Y" }}
                    {% if day == today %}<strong>(Today)</strong>{% endif %}
                </h4>
            
                {% if slots %}
                    <div class="btn-group-toggle" data-toggle="buttons">
                        {% for slot_info in slots %}
                            <input type="radio" class="btn-check" name="time_slot" id="{{ slot_info.slot.id }}" value="{{ slot_info.slot.id }}" 
                                       {% if slot_info.has_booking or day <= today %}disabled{% endif %}>
                            <label class="btn {% if slot_info.has_booking %} btn-primary disabled{% else %} btn-outline-primary{% endif %}" for="{{ slot_info.slot.id }}">
                                {{ slot_info.slot.start_time }} - {{ slot_info.slot.end_time }}
                                {% if slot_info.has_booking %}
                                    {% if slot_info.slot.booking.occasion_type == 'public' %}
                                        <span class="span-block">(Public: {{ slot_info.slot.booking.occasion }})</span>
                                    {% else %}
                                        <span class="span-block">(Private Event)</span>
                                    {% endif %}
                                {% else %}
                                    <span class="span-block">Available</span>
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No time slots available for this day.</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" {% if not slots_by_day %} disabled {% endif %} class="btn btn-success mt-3">Book Selected Time Slot</button>
    </form>

     <!-- Navigation Buttons -->
     <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a type="button" href="?week_offset={{ week_offset|add:'-1' }}" class="btn btn-outline-primary">Previous Week</a>
        <a type="button" href="?week_offset={{ week_offset|add:'1' }}" class="btn btn-outline-primary">Next Week</a>
      </div>
    
    {% endblock %}
</div>